{% extends 'layout.html' %}
  {% block content %}  
        <!-- Left section -->
        <div class="md:w-1/2 w-full bg-white flex flex-col items-center">
            <div class="max-w-md mx-auto bg-white rounded-lg p-8">
                <h2 class="text-2xl font-bold mb-4">Login</h2>
                <p class="text-gray-600 mb-8">Login to get full access to all our products and services</p>
              
                <button class="flex items-center justify-center rounded-full border border-black w-full py-2 mb-6">
                    <img src="./static/images/google.png" class="w-5 h-5 mr-2" alt="google">
                    <span class="font-bold">Sign in with Google</span>
                  </button>
                  
              
                <div class="flex items-center mb-4">
                  <div class="flex-grow border-b border-gray-300 mr-3"></div>
                  <span class="text-gray-500 hover:text-black font-bold"><a href="#">or Sign in with E-mail</a></span>
                  <div class="flex-grow border-b border-gray-300 ml-3"></div>
                </div>
              
                <form method="POST" action="">
                  {{ form.hidden_tag() }}
                  
                  <div class="mb-4">
                      <label for="email" class="block mb-2 font-bold">{{ form.email.label.text }}</label>
                      {{ form.email(class="w-full px-4 py-2 border rounded-full", placeholder="mail@website.com", required="required") }}
                      {% if form.email.errors %}
                          <div class="invalid-feedback">
                              {% for error in form.email.errors %}
                                  <span style="color: red;">{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% endif %}
                  </div>
                
                  <div class="mb-4">
                      <label for="password" class="block mb-2 font-bold">{{ form.password.label.text }}</label>
                      {{ form.password(class="w-full px-4 py-2 border rounded-full", placeholder="Min. 8 characters", required="required") }}
                      {% if form.password.errors %}
                          <div class="invalid-feedback">
                              {% for error in form.password.errors %}
                                  <span style="color: red;">{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% endif %}
                  </div>
              
                  <div class="flex items-center mb-4">
                      {{ form.remember(class="mr-2") }}
                      <label for="remember" class="text-black">Remember me</label>
                      <a href="#" class="ml-auto text-hvgr font-bold">Forgot password?</a>
                  </div>
              
                  <button type="submit" class="w-full py-2 px-4 bg-hvgr text-white rounded-full hover:bg-mdgr transition duration-700"> {{ form.submit.label.text }}</button>
              </form>
              
              
              
                <div class="text-center mt-4">
                  <span class="text-gray-600">Not yet registered? </span>
                  <a href="./register.html" class="text-hvgr font-bold">Create an account</a>
                </div>
              </div>              
        </div>
  {% endblock content %} 
